@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    @apply bg-white dark:bg-[#1f1f1f];
    transition-duration: 200ms;
}
.secondary{
    @apply bg-[rgba(0,0,0,0.08)] dark:bg-[rgba(0,0,0,0.85)];
    transition-duration: 200ms;
}

*{
    @apply text-white;
}
body{
    @apply primary  !important;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.glass{
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
}
.lightglass{
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
}
.rotate{
    transform: rotate(180deg);
}

.widthadjust{
    width: calc(100% - 80px);
}

.nohyph{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}